@CHARSET "UTF-8";

*{
	margin: 0;
	padding: 0;
}


h1{
	font-family:inherit;
	font-weight:500;
	line-height:1.1;
	color:inherit;
	font-size:30px;
	display: inline;
	  
}


h1 small{
	font-weight:400;
	line-height:1;
	color:#777;
}

small{
	font-size: 65%;
}

td{
	font-size: 12px !important;
}

th{
	font-size: 12px !important;
}



#menu{
	border-bottom: 3px solid #003966;
}

.fill-verde{
    fill:#01934A !important;
}

.fill-vermelho{
    fill:#FF2E33 !important;
}

.fill-amarelo{
    fill:#FFCD0E !important;
}

.fill-cinza{
    fill:#C3C3C3 !important;
}

.direita span{
	display: block;
		
}

.direita{
	float:right;
}

.esquerda{
	float:left;
	
}

.esquerda span{
	font-weight: bold;
	display: block;
	padding: 5px;
}



.config{	
	margin: 0 auto;
	max-width: 1200px;		
}

.config h1{
	color: #000;
}

.resumo{
	position: relative;	
}

.resumo span{
	position: absolute;
	left:10%;
	top: 20%;	
	font-size: 80px;
}

.resumo img {
	position: relative;
	left:35%;
	opacity: 0.1;
	height:300px;	 
}

.qr_code{	
	position: relative;	
	float: right;
}


