# Fontes            #
#####################
*.pyc
*.autosave
*.dia
	
# Documentos        #
#####################
!/documentos

# Logs              #
#####################
*.log

# Temp              #
#####################
*~

