# Fontes compilados #
#####################
*.pyc
*.autosave
	
# Documentacao      #
#####################
!/documentos
web/

# Logs              #
#####################
*.log

# Temp              #
#####################
*~

