*{
	margin: 0;
	padding: 0;
}

body{
	font-family: sans-serif;
}

hr{
	
}

input{
	color: #000;
}

h1{
	font-family:inherit;
	font-weight:500;
	line-height:1.1;
	color:inherit;
}

h1 small{
	font-weight:400;
	line-height:1;
	color:#777;
}

h1{
	font-size:30px;
}

small{
	font-size: 65%;
}

td{
	font-size: 12px !important;
}

th{
	font-size: 12px !important;
}

.f8{
	font-size: 8px;
}

.f12{
	font-size: 12px;
}

.f14{
	font-size: 14px;
}

.f16{
	font-size: 16px;
}

.fundo {	
	opacity: 0.3;
	position: center;	
	float: relative;
}

.fill-verde{
    fill:#01934A !important;
}

.fill-vermelho{
    fill:#FF2E33 !important;
}

.fill-amarelo{
    fill:#FFCD0E !important;
}

.fill-cinza{
    fill:#C3C3C3 !important;
}

.direita span{
	display: block;
		
}

.direita{
	float:right;
}

.esquerda{
	float:left;
	
}

.esquerda span{
	font-weight: bold;
	display: block;
	padding: 5px;
}

.config{	
	margin-top: 0 auto;
	margin: 0 auto;
	max-width: 1200px;		
}

.config h1{
	color: #000;
}

.banner{
    background-color: #3fa2db;
    border-bottom: 2px solid #359dd6;
}

.gradiente{	
	color: #fff;	
	text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
	background: #020031; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #020031 0%, #3fa2db 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%, #3fa2db)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #020031 0%,#3fa2db 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #020031 0%,#3fa2db 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #020031 0%,#3fa2db 100%); /* IE10+ */
	background: linear-gradient(45deg,  #020031 0%,#3fa2db 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#3fa2db',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	-webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
	     box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}

.com-bordas{
	margin-right: 10px;
}

.borda {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
	margin-top: 10px;
	margin-right: 10px;
	position: relative;
	box-shadow: 0 1px 3px #000;
	background-color: #fff;
}

.a-direita{
	margin-right: 10px;
}

.padding {
	padding-top: 20px;
}

.catraca-pequeno{	
	width: 210px;
    height: 130px;
}

.catraca-pequeno:hover{
	box-shadow: 0 1px 5px #000;
}

.catraca-medio{
	width: 230px;
    height: 160px;
}

.catraca-medio:hover{
	box-shadow: 0 1px 5px #000;
}

.catraca-icone{	
	padding: 4px;
	float: left;
}

.catraca-info span{	
	float: right;
}

.catraca{
	top:170px;
	padding-right: 10px;
	padding-left: 10px;	
}

.catraca a{
	cursor: default;
	color: #000;
}

.catraca ul li a:hover{	
	box-shadow: 0 2px 8px #000; 
}

.catraca ul li{
	list-style: none;
}

.catraca span{
	font-weight: bold;
	color: #ccc;

}

.relatorio hr{
	margin: 10px;
}

.relatorio h2, h3{
	font-weight: bold;
	text-align: center;
	margin: 10px;
}

.relatorio span{
	display: block;
	font-weight: bold;
	padding: 5px;
}

.cab-relatorio{
	background-color: #CCC;
	margin-top: 5px;
	margin-bottom: 10px;
	text-align: center;
}

.cab-relatorio span{
	font-size: 20px;
}

.relatorio-pratos span, .relatorio-valores span, .relatorio-rodape span{
	font-weight: normal;
	text-align: center;
}

.relatorio-soma span{
	text-align: center;
}

.relatorio-rodape{
	bottom: 0;
	padding-top: 20px;
}

.relatorio-rodape a{
	float: right;
}

hr.um{
	border: 1px solid #CCC;
	margin: 0;
	padding: 0;
}

hr.dois{
	margin: 0;
	padding: 0;
	border: 2px solid #CCC;
}

#formcatraca{
	top:70px;
}

#slide { 
	width: 640px; 
	overflow: hidden; 
	height: 428px; 
	margin: 50px auto; 
	box-shadow: 0 0 8px #000; 
	position: relative; 
} 

#slide img { 
	position: absolute; 
	z-index: 1; display: 
	none; left: 0; 
} 

#slide p { 
	z-index:2; 
	position: absolute; 
	bottom: 0; 
	left: 0; 
	width: 100%; 
	padding: 10px; 
	font-family: Arial; 
	font-size: 14px; 
	background: rgba(0,0,0,0.5); 
	color: #fff; 
}

#acessibilidade {
display: block;
font-size: 0.88em;
font-family: Arial, Helvetica, sans-serif;
padding-top: 10px;
color: #fff;
}

#acessibilidade a{ 
	margin-right: 8px; 
	color: #fff; }

#acessibilidade a:hover{
	
}

#acessibilidade span { 
	padding: 0 4px; 
	color: #fff;
}

#barra{
	height: 30px;	
}

#barra a{
	color: #fff;
	text-decoration: none;
}

#barra a:hover{
	color: #fff;
	text-decoration: none;
}

#titulo{
	margin-right: 10px;
	margin-top: 20px;
	margin-left: 10px;
}

#titulo-caixa{
	margin-right: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#relatorio span{
	padding-left: 40px;
}

#caixa span{
	font-size: 18px;
	display: block;
	font-weight: bold;
}

#caixa h2{
	margin-bottom: 20px;
	margin-top: 20px;
	color: #0000FF;
	font-weight: bold;
}

#caixa h3{
	font-weight: bold;
}

#operador span{
	
}

#infovenda{
	margin-right: 20px;
	height: 320px;
}

#infovenda td{
	font-size: 14px;
}

.navegacao{
	height: 100%;
	padding-left: 30px;
	padding-top: 20px;
}

div#topo{
	padding-top: 40px;
}

div#topo h1{
	color: #fff;
}

table#turno{
	position: relative;
}

div#corpo{
	height: 500px;	
}

/*Abas*/

a:focus {	
  outline: none;
}

div ul li a:hover{	
	background-color: #DCDCDC;	
}

.conteiner {
  margin: 20px;
  overflow: auto;
}

.limpar:after {
  content: '.';
  height: 0;
  font-size: 0;
  line-height: 0;
  display: block;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
 
/*Abas*/

a:focus {	
  outline: none;
}

.conteiner {
  margin: 20px;
  overflow: auto;
}

.limpar:after {
  content: '.';
  height: 0;
  font-size: 0;
  line-height: 0;
  display: block;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
 
/* ---- Abas ----- */
.tabs-conteiner {
  background: transparent;  
}
 
/* Menu das abas */
.tabs-abas {
	border-bottom: ; 
	float: none;
	background: transparent;
	opacity: 3;
	border-bottom: 1px solid #ddd;
}

.tabs-abas ul {
   list-style: none;

}
.tabs-abas ul li {
  float: left;  
  padding-right: 3px;

}
.tabs-abas ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 700;  
  letter-spacing: 0.08em;
  color: #000;   
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tabs-abas ul li a:hover{	
	background-color: #FFFAFA;	
}

.tabs-abas ul li a.activo-tab-abas{
  background-color: #fff;  
  border: 1px solid #ddd;
  border-top-color: rgb(221, 221, 221);
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom: none;  
  cursor: default;
  text-decoration: none;
}
 
/* Conteúdo das abas */
.tabs {	
  	display: none;
 	padding: 10px;  
  	border-bottom-color: #666;
  	background: #fff;  
}

.tabs:before,
.tabs:after{
	content: " ";
  	display: ;
}

.first-tab {
  display: block;
}


/*paginação*/
.paginacao{

	
}

.paginacao ul {
	list-style: none;	
}

.paginacao ul li{
	float: left;
}

.paginacao ul li a{	
	background: #fff;
	padding: 5px 10px;	
	text-decoration: none;
	font-size: 14px;
	border: 1px solid #000;
	border-radius: 20px;
	color: #1E90FF;
	margin-right: 10px;
	border-color: #ccc;
	font-family: Arial, Helvetica, sans-serif;
}

.paginacao ul li a:hover{
	background: #DCDCDC;
}