@CHARSET "UTF-8";

body{
	font-family: sans-serif;
}



.gradiente{	
	background-color: #3fa2db;
    border-bottom: 3px solid #359dd6;
	color: #fff;	
	text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
	background: #020031; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #020031 0%, #3fa2db 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%, #3fa2db)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #020031 0%,#3fa2db 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #020031 0%,#3fa2db 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #020031 0%,#3fa2db 100%); /* IE10+ */
	background: linear-gradient(45deg,  #020031 0%,#3fa2db 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#3fa2db',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	-webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
	     box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}

.com-bordas{
	margin-right: 10px;
}

.borda {
	padding: 10px 10px 10px 10px;
	box-shadow: 0 1px 3px #000;
	background-color: #fff;	
	position: relative;
	border-radius: 0px 0px 3px 3px;
	border-top: 2px solid #3fa2db;
}

.a-direita{
	margin-right: 10px;
}

.padding {
	padding-top: 20px;
}

.catraca-pequeno{	
	width: 250px;
    height: 130px;
    margin: 5px;
}

.catraca-pequeno:hover, .catraca-medio:hover{
	box-shadow: 0 1px 5px #000;
}

.catraca-medio{
	width: 230px;
    height: 160px;
    margin: 5px;
}

.catraca-icone{	
	padding: 4px;
	float: left;
	position: relative;
}

.catraca-info span{
	display:block;
	float: right;
}

.catraca{    
	padding-right: 10px;
	padding-left: 10px;
	top: 100px;	
}

.catraca a{
	cursor: default;
	color: #000;
}

.catraca ul li a:hover{	
	box-shadow: 0 2px 8px #000; 
}

.catraca ul li{
	list-style: none;
}

.catraca span{
	font-weight: bold;
	color: #ccc;
}

.catraca hr{
	border: 1px solid #CCC;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 0;
}

.relatorio{
	margin-top:20px !important;
	border-top: none;
}

.relatorio h2, h3{
	font-weight: bold;
	text-align: center;
	margin: 10px;
}

.relatorio span{
	display: block;
	font-weight: bold;	
	padding: 5px;	
}

.tabela-relatorio{
	width: 100%;	
	font-size: 20px;
	text-align: left !important;
}

.tabela-relatorio th{
	text-align: center;
	background: #CCC;
	padding: 5px;
	font-size: 16px !important;
}

.tabela-relatorio td{
	text-align: center;
	padding: 10px;
	border-top:;
	font-size: 16px !important;
}

#limpar{
	background: transparent !important;
	text-align: left !important;
}

#soma{
	border-top: 2px solid #ccc;
	border-bottom: 3px solid #ccc;
	font-weight: bold;
}

.dados-relatorio span{
	font-weight: normal;
	display: inline;
	background-color: none;
}

.cab-relatorio2 {
	background-color: #CCC;
	margin-top: 5px;
	margin-bottom: 10px;
	text-align:;	
}

.cab-relatorio2 span, .dados-relatorio span{
	position: relative; 
	display: inline !important;
	font-size: 16px;
	margin-right: 20px;
	margin-top: 10px;
}

.cab-relatorio{
	background-color: #CCC;
	margin-bottom: 10px;
	text-align: center;
}

.cab-relatorio span{
	font-size: 20px;
}

.relatorio-pratos span, .relatorio-valores span, .relatorio-rodape span{
	font-weight: normal;
	text-align: center;
}

.relatorio-soma span{
	text-align: center;
}

.relatorio-rodape{
	bottom: 0;
	padding-top: 20px;
}

.relatorio-rodape a{
	float: right;
}

hr.um{
	border: 1px solid #CCC;
	margin-bottom: 3px;
	padding: 0;
}

hr.dois{
	margin-bottom: 3px;
	padding: 0;
	border: 2px solid #CCC;
}

hr.linha{
	border: 1px solid #CCC;
	margin-top: 10px;
	margin-bottom: 10px;
	width: auto;
	
}

#formcatraca{
	top:70px;
}

#barra{
	height: 30px;	
}

#barra a{
	color: #fff;
	text-decoration: none;
}

#barra a:hover{
	color: #fff;
	text-decoration: none;
}
/**/
#titulo{
	
	margin-bottom: 30px;
}

#titulo-caixa{
	margin-top:-5px;
	
}

#relatorio span{
	padding-left: 40px;
}

#caixa {
	margin-top: 20px;
}

#caixa table {
	width: 100%;
}

#caixa hr{
	border: 1px solid #CCC;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 0;
}

#caixa span{
	font-size: 18px;
	display: block;
	font-weight: bold;
}

#caixa h2{
	margin-bottom: 20px;
	margin-top: 20px;
	color: #0000FF;
	font-weight: bold;
}

#caixa h3{
	font-weight: bold;
}

#infovenda{
	margin-right: 20px;
	height: 320px;
	overflow: scroll;
}

#infovenda table{
	overflow: scroll;
}

#infovenda td{
	font-size: 14px;
}

div#topo{
	padding-top: 20px;
}

div#topo h1{
	color: #fff;
}

table#turno{
	position: relative;
}

div#corpo{
	height: 500px;	
}

.simpleTabs{
	padding-top: 20px;
}

.informacao{
	background: #ccc;
	box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}

.informacao p{
	text-align: justify;
	font-size: 20px;
}

.informacao li{
	font-size: 20px;
	list-style: disc;
}

.acessibilidade{
	padding-top: 0;
	margin-top: 8px;
	margin-bottom: 8px;
}

/*.dados-usuario img{
	width: 277px;	
	height: 9cm;
    margin-left: 5px;
	border:solid 1px #000;
}*/

.dados-usuario span{
	display: block;
	font-weight: bold;
	
}

#informacao{	
	font-size:22px;	
}

span#aproxime{
	padding-top: 70px;
	font-size:36px !important;
	
}

#confirmado{
	padding: 10px;
	font-size: 30px;
}

.titulo{
	padding-top: 10px;
}


.fundo{
	z-index:0;
	position: absolute;
}

.imagem-fundo{	
	width: 350px;
	height: 308px;
	opacity: 0.1;
	padding-left: 70%;	
}

.fundo-cliente{
	z-index:0;
	position: absolute;
	left: 45%;
	top: 30%;
}

.imagem-fundo-cliente{
	width: 600px;
	height: 528px;
	opacity: 0.1;
}

/*Zoom na imagem do usuï¿½rio*/

.zoom {
	position: relative;
    width: 283px;
	height:343px;
    overflow: hidden;
    margin-left: 6px;
    border:solid 1px #ccc;
}

.zoom img {
   	width: 60%; 
	border-radius: 2px;
	
}

.zoom img {
	padding-top: 50px;
	-webkit-transform: scale(1.7);
	   -moz-transform: scale(1.7);
	    -ms-transform: scale(1.7);
	     -o-transform: scale(1.7);
	        transform: scale(1.7);
}

.zoom-cliente{	
	position: relative;
    max-width: 500px;
	height:682px;
    overflow: hidden;
    margin-right: 10px;	
}

.zoom-cliente img{
	width: 100%; 
	border-radius: 2px;
	border:solid 1px #000;
	padding-top: 95px;
	-webkit-transform: scale(2.0);
	   -moz-transform: scale(2.0);
	    -ms-transform: scale(2.0);
	     -o-transform: scale(2.0);
	        transform: scale(2.0);
}

.fotos{
	position: relative;
}

.foto-salva{
	border: 1px #000 solid;
	margin: 8px 20px 15px 25px;
	width: 320px;
	height: 240px;
	box-shadow: 0 2px 8px #000;

}

.foto-salva img{
	width: 320px;
	height: 240px;
}

.borda-foto{
	border: 1px #87CEEB solid;
	border-radius: 5px 5px 5px 5px;
	margin: 5px;
}

.camera{
	height: 240px;
	border: 1px #000 solid;
	border-radius: 5px 5px 5px 5px;
	margin: 10px;
	background: #ccc;
}

.tela{
	background: #000;
	height: 249px;
	width: 332px;
	border: 1px #000 solid;
	margin: 8px 20px 5px 20px;
	box-shadow: 0 2px 8px #000;
}

.tela video{
	height: 249px;
	width: 332px;
}

#marcacao{
	position: absolute;
    padding-top: 51px;
    padding-left: 73px;
    transform: scale(1.3);
}

/*
    Tï¿½tulos
*/
.titulo,.titulo-com-borda {
    color:#2E496B !important;
    font-weight:bold !important;
    font-size:1em !important;
    line-height: 1.8em !important;
    margin:0px !important;
    page-break-before: always !important;
    margin-bottom: 10px !important;
    border-bottom: 1px solid #E5E5E5 !important;
    display: block !important;
}
.titulo {
    font-size:1.125em !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important; 
}
.titulo:before,.titulo:after{
    content:"";
    display:block;
    clear:both;
}

/*Janela Modal*/

.window{
    display:none;
    position:absolute;
    left:0;
    top:0;
    background:#FFF;
    z-index:9900;
    padding:10px;
    border-radius:10px;
}
 
#mascara{
	padding-top: 20px;
	padding-left:20px;
    display:none;
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
}
 
.fechar{display:block; text-align:right;}


.qr_code{	
	float:right;
	position: relative;	
}
